################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/API_project/.vs/API_project/v15/Browse.VC.db
/API_project/.vs/API_project/v15/Browse.VC.opendb
/move_o/.vs/move_o/v15/Browse.VC.db
/move_o/.vs/move_o/v15/Browse.VC.opendb
/change_color_touch/.vs/change_color_touch/v15/Browse.VC.opendb
